@media (min-width: 767px){
	nav div#navbarSupportedContent{
	display:none !important; 
	}
}
*{
	box-sizing: border-box;
}
h1 {
	margin:20px; 
	font-weight: bold;
	text-transform: uppercase;
}
body{
	background-color: #ca8888;
}
nav{
	background-color: #cfe6f7;
}
.chicken, .sushi, .beef{
	padding: 20px;
	border:1px solid;
	margin-top: 20px;
	background-color: #cfe6f7;
}
.chicken{
	height: 1000px;
}
